<div class = "container">
  <div class = "row">
    <div class = "span9">

      <% if user_signed_in? %>
        <center><h3>Welcome, <%= current_user.name %> !</h3></center>
        <h4>You have succesfully signed in</h4>
      <% else %>  
        <h1>Welcome to Restaurant Listing!!!</h1>
      <% end %>
      <p><%= link_to "Restaurant Listing", restaurants_path %></p>
    
    </div>
    
    <div class = "span3" >
      <h3>Eat, Make it Easy!!</h3>
        You want to eat good food but don't know any good restaurant around? We're here to help. 
    </div>
  
  </div>
</div>