<h3>Search for restaurants with multiple categories: </h3>
	<%= form_tag categories_search_path, method: :get do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", name: nil %>
		</p>
		
	<% end %>
	
<% if @restaurants.nil? %>
	<h5>No restaurant matched</h5>	
<% else %>
	<% @restaurants.each do |restaurant| %>
		<li><%= restaurant.name %></li>
	<% end %>
<% end %>
	
